<div class="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <b class="profiles"> PROFILES</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        *ngFor="let user of data ; let i = index"
        style="padding: 0 24px"
      >
        <ion-avatar class="img" slot="start">
          <ion-img [src]="user.picture.medium"></ion-img>
        </ion-avatar>
        {{user.name.first}} , {{user.dob.age}}
      </ion-item>
    </ion-list>
  </ion-content>
</div>
