.toolbar-container {
  margin: 10px 0;
}

.path {
  width: 28px;
  height: 1px;
  margin: 0 0 9px;
  border: solid 3px #6374f3;
}

.profiles {
  width: 103px;
  height: 20px;
  margin: 2px 41px 58px 24px;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #b1b8c5;
}

ion-item {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6374f3;
  cursor: pointer;
}
